@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.card {
  background-color: aqua;
  padding: 1rem;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

input {
  border: none;
  outline: none;
  padding: 1rem;
  font-family: inherit;
}

button {
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #000;
  color: #ffff;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #ffff;
  color: #000;
}

.error {
  margin-top: 1rem;
  background-color: red;
  padding: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .card {
    width: 350px;
  }
}